<header id="navbar">
    <nav role="navigation">
      <div id="nav">
        <div class="flex justify-between">
            <i id="btn-open"></i>
        <div class="ourman"><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a></div>
        </div>
        
        <div id="drop"  class="flex items-center"> 
          {{ if .Site.Menus.main }}
            <ul class="menu__list flex">
            {{ $currentNode := . }}
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="menu__item menu__dropdown{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}"> 
                        <a class="menu__link" href="#">
                            {{ .Pre }}
                            <span class="menu__text">{{ .Name }}</span>
                            <label class="drop-icon" for="{{ .Name }}">▾</label>
                            {{ .Post }}
                        </a>
                    <input type="checkbox" id="{{ .Name }}">
                    <div class="sub-menu">
                        {{ range .Children }}
                            <div class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a class="menu__link" href="{{ .URL }}">{{ .Name }}</a>
                            </div>
                        {{ end }}
                    </div>
                    </li>
                {{ else }}
                    <li class="menu__item {{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
                        <a class="menu__link" href="{{ .URL }}" aria-label="{{.Name}}">
                            {{ .Pre }}
                            {{ if ne .Name "Home"}}<span class="menu_text">{{ .Name }}</span>{{ end }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </nav>
</header>
